<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda está disponível para retirada:</p>
<p>
  <strong>Endereço: </strong> {{ recipient }}<br />
  <strong>Nome do Produto: </strong> {{ product }} <br />
  <br>
  <small>As retiradas devem ser feitas entre os horário das 08:00 às 18:00</small>
</p>
